* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.money{
  color: white;
  font-size: 20px;
}

.App {
  border: 12px solid #a5a79b!important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
  margin: auto;
  min-height: initial;
  text-align: center;
  margin-top: 1%;
  border-radius: 10px;
  padding-bottom: inherit;
  background-color: burlywood;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input-Form, .App-header {
  margin-bottom: 32px;
}

.row, .input-row{
  display: block;
  text-align: left;
  font-weight: 500;
}

.input-row{
  padding: 5px 32px 5px 16px;
  border-radius: 4px 0 0 4px;
  border: 5px solid #d6ebd6;
  outline: none;
  width: 100%;
  background: white;
}

.App-header {
  margin-top: 10px;
  color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
}

.App-link {
  color: #61dafb;
}

.sub-button{
  width: 100%;
  color: #fff;
  background-color: #836a1c;
  border-color: #fdec0d;
  margin-top: 2%;
  font-weight: bold;
}

.labels{
  width: 100%;
  text-align: start;
  color: brown;
  font-weight: bold;
}

.result, .card-header{
  font-weight: bold;
}

#result-div{
  display: none;
}

.list-group-flush > .list-group-item {
  border-width: 0 0 1px;
  text-align: left;
}

.icons{
  background-color: #a4a79b;
  font-weight: bold;
}

.close-icon{
  cursor: pointer;
  color: white;
  font-size: 150%;
}

.close-icon:hover{
  color: #a52a2a;
}

.row {
  --bs-gutter-x: 0rem; 
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

@media only screen and (max-width: 600px) {
  .App {
    width: auto
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}